@font-face {
    font-family: 'DIN';
    src: url('10715.ttf'),
    url('10715.ttf'),
    url('10715.ttf');
}

@font-face {
    font-family: 'YouSheBiaoTiHei';
    src: url('youshebiaotihei.ttf'),
    url('youshebiaotihei.ttf'),
    url('youshebiaotihei.ttf');
}